<!-- #map -->

%body{:style => "background-image: url('../../../assets/cow_background.jpg'); background-size: cover; background-width: 100%;"}
  %div{:style => "height: 500px"}
    %div{:class => "space-left"}
    %div{:class => "space-center"}
      %strong{:class => "large-white-text", :style => "position: absolute; top: 255px;"}Find Partners
      %form{:action=>"/search"}
        %input{:class => "form-control front", :placeholder=>"Get moo'vin", :name=>"q", :style => "height: 40px; border-radius: 20px; position: absolute; top: 300px;"}
      %div{:class=>"card", :style => "position: absolute; top: 360px; width: 15rem;"}
        %ul{:class=>"list-group list-group-flush", :style=>"border: 1px;"}
        - @notes.each do |note|
          %li{:class => "list-group-item"}= note.title
    %div{:class => "space-right"}