#mapid

%table.table
  %thead
    %tr
      %th Name
      %th Category (?)
      %th Address
  %tbody
    - 20.times do
      %tr
        %td= link_to 'Friendly Ranch', '#'
        %td Meat
        %td 12345 SE Metolius Blvd.

:javascript
  var mymap = L.map('mapid').setView([44.0581700, -121.3153100], 13);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
  maxZoom: 18,
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
  '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
  'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  id: 'mapbox/streets-v11',
  tileSize: 512,
  zoomOffset: -1
  }).addTo(mymap);
  $.getJSON("http://localhost:3000/providers.json", function(jsonData) {
    for (var i in jsonData) {
    var latlong = L.latLng({ lat: jsonData[i].latitude, lng: jsonData[i].longitude });
    L.marker( latlong ).addTo(mymap);};
  });