.subnav
  .title
    %h1= @partners.ids

-# .row.mt-5
-#   .col-6
-#     %dl.row
-#       %dt.col-sm-3 Description
-#       %dd.col-sm-9= @partner.description
-#       %dt.col-sm-3 Street Address
-#       %dd.col-sm-9= @partner.street_address
-#       %dt.col-sm-3 City
-#       %dd.col-sm-9= @partner.city
-#       %dt.col-sm-3 State
-#       %dd.col-sm-9= @partner.state
-#       %dt.col-sm-3 Zip Code
-#       %dd.col-sm-9= @partner.zip
-#       %dt.col-sm-3 Email
-#       %dd.col-sm-9= mail_to @partner.email
-#       %dt.col-sm-3 Phone
-#       %dd.col-sm-9= "#{@partner.phone}".phony_formatted(normalize: :NA, format: :national, spaces: ' ')
-#       %dt.col-sm-3 Website
-#       %dd.col-sm-9= link_to "#{@partner.url}", @partner.url
-#       %dt.col-sm-3 Hours Of Operation
-#       %dd.col-sm-9= @partner.hours_of_operation
-#       %dt.col-sm-3 Categories
-#       %dd.col-sm-9
-#         - @partner.categories.each do |category|
-#           .row-sm-9= category.name 
-#       %dt.col-sm-3 Products
-#       %dd.col-sm-9
-#         - @partner.products.each do |product|
-#           .row-sm-9= product.name 
-#       %dt.col-sm-3 Latitude
-#       %dd.col-sm-9= @partner.latitude
-#       %dt.col-sm-3 Longitude
-#       %dd.col-sm-9= @partner.longitude
-#   .col-6
-#     .text-center= image_tag(@partner.logo) if @partner.logo.attached?
