.subnav
  .title
    %h1 Categories
  .actions
    = link_to 'New Category', new_admin_category_path, class: 'primary'

%table.table
  %thead
    %tr
      %th Category
      %th
  %tbody
    - @categories.sort_by(&:name).each do |category|
      %tr
        %td= link_to category.name, [:admin, category]
        %td
          = link_to 'Edit', edit_admin_partner_path(category), class: 'btn btn-sm btn-outline-primary'
          = link_to 'Delete', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
