.subnav
  .title
    %h1= @category.name
  .actions
    = link_to 'Delete', [:admin, @category], method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger'
    = link_to 'Edit', edit_admin_category_path(@category), class: 'primary'

%table.table
  %thead
    %tr
      %th Partners
      %th
 
  