.subnav
  .title
    %h1 Products
  .actions
    = link_to 'New Product', new_admin_product_path, class: 'primary'

%table.table
  %thead
    %tr
      %th Product
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, [:admin, product]
        %td
          = link_to 'Edit', edit_admin_partner_path(product), class: 'btn btn-sm btn-outline-primary'
          = link_to 'Delete', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
