.subnav
  .title
    %h1= @product.name
  .actions
    = link_to 'Delete', [:admin, @product], method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger' if @current_user.superadmin?
    = link_to 'Edit', edit_admin_product_path(@product), class: 'primary'

%table.table
  %thead
    %tr
      %th Partners
      %th
  %tbody
    - @product.partners.each do |partner|
      %tr
        %td= link_to partner.name, [:admin, partner]
        %td