.subnav
  .title
    %h1= date_time(@note)

%table.table
  %thead
    %tr
      %th Notes
      %th
  %tbody
    - @note.created_at.notes.each do |note|
      %tr
        %td= link_to note.title, [:admin, note]
        %td