/*
 *= require_tree .
 *= require_self
 *= require leaflet
 */
@import "bootstrap";
$hdffa-green: #2C7D3D;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 10rem;
  margin-bottom: 60px;
}

nav#main {
  @extend .navbar;
  @extend .navbar-expand-md;
  @extend .navbar-dark;
  @extend .fixed-top;
  background-color: $hdffa-green;
  .logo {
    height: 72px;
  }
  button {
    @extend .navbar-toggler;
  }
  #navbar {
    @extend .collapse;
    @extend .navbar-collapse;
    ul {
      @extend .navbar-nav;
      @extend .ml-auto;
      li {
        @extend .nav-item;
      }
    }
  }
}

main {
  @extend .container;
  margin-bottom: 5rem;
}

.flash {
  @extend .alert-dismissible;
  @extend .fade;
  @extend .show;
}

footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  line-height: 60px;
  border-top: 1px solid $gray-400;
  background-color: #F0F0F0;
  nav {
    display: inline;
    ul {
      float: right;
      list-style: none;
      li {
        height: 1rem;
        float: left;
        margin-left: 15px;
      }
    }
    a {
      color: $gray-400;
      &:hover {
        color: $gray-400;
      }
    }
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}

.form-container {
  width: 50%;
  margin-top: 2rem;
  input[type="submit"] {
    margin-top: 1rem;
    width: auto;
  }
}

.large-white-text {
  color: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

/* Authentication */

body.sessions.new, body.registrations.new, body.registrations.create {
  background-color: #f5f5f5;
}

.container-auth {
  margin-top: 5rem;
}

.form-auth {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .g-recaptcha {
    display: inline-block;
  }
}

.form-signin {
  max-width: 330px;
}

.subnav {
  @extend .row;
  .title {
    @extend .col;
  }
  .actions {
    @extend .col;
    @extend .text-right;
    a.primary {
      @extend .btn;
      @extend .btn-primary;
    }
    a.danger {
      @extend .btn;
      @extend .btn-outline-danger;
    }
  }
}

/*Default map height*/
#map {
  height: 500px;
}

/*iPhone browser 375 x 667 (iPhone 8*/
@media only screen and (min-width: 375px) and (max-width: 667px) {
  #map {
    height: 100%;
    overflow: auto;
  }
  .container, main {
    padding:0;
    margin:0;
  }
  footer {
    display: none;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 200px) and (max-width: 1100px) and (orientation: landscape) {
  #map {
    overflow: show;
  }
  main {
    padding:0;
    margin:0;
  }
  body {
    padding-top: 0%;
    margin-bottom: 0%;
  }
  footer {
    display: none;
  }
}

@media
(max-width: 480px),
(min-width: 481px) and (max-width: 767px),
(min-width: 768px) and (max-width: 1023px),
(max-height: 1024px)
{
  #map {
      width: 100%;
      height: 400px;
  }
}

@media
(min-width: 1024px) and (max-width: 1280px), (min-width: 1281px) {
  #map {
    height: 600px;
  }
}

#notebutton {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}

#bodybutton {
  color: #4CAF50;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

#bodybutton:hover {
  cursor: pointer;
}

#notesform {
  display:none;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  box-sizing: border-box;
  padding: 20px;
}

#notebody {
  display: none;
}
