.subnav
  .title
    %h1 Products

%table.table
  %thead
    %tr
      %th Product
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td
          = link_to 'Details', product_path(product), class: 'btn btn-sm btn-outline-primary'
